<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cham.mappers.boardMapper">

	<!-- 게시물 목록 -->
	<select id="boardList" resultType="com.cham.domain.BoardVO">
		select
	 		no, title, contents, date
	 	from tb_board
	</select>
	
</mapper>